body {
	
	background-image: url("../../assets/images/giphy.png");
}
label {
	font-size: 35px;
	
}

#show {
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.jumbotron h1 {
	background-color: #8d5168;
	color:  #98ecad;
	/* Find light color of success panel */
}
#addShow{
	text-align: center;
}


